h1, .icon {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  color: #c0c0c0;
  text-decoration:none;
  font-size: 30px;
}

a:hover {
  text-decoration: none;
}

.icon {
  height: 30px;
  width: 30px;
}
