<div class="main-div">

  <app-header-bar></app-header-bar>
  <br />
  <app-introduction></app-introduction>

  <div class="sticky-top">
    <app-pagination></app-pagination>

    <div class="container">
      <hr class="uk-divider-icon">
    </div>
  </div>

</div>

<app-post></app-post>

<app-resume><app-resume>










<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117268890-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-117268890-1');
</script>
