<div class="container-fluid" id="work">
  <div style="text-align: center;"><h1> Work Experience </h1></div>
  <div class="container">
    <hr class="uk-divider-icon">
  </div>

  <div class="row" *ngFor="let post of posts">
    <div class="col-sm-12" id="bottom-page" style="height: 10vh; min-height: 10vh;"
                                     [style.backgroundColor]="post.aboveColor"></div>
    <div class="col-sm-12 post-row"  [style.backgroundColor]="post.color">
      <div class="container">
        <div class="row post-row">
          <div class="col-sm-8">
            <img [src]="post.image">
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="col-sm-12" style="height: 10vh; min-height: 10vh; background-color: #00B2FF"></div>
</div>
