.div-center {
  align-items: center;
  justify-content: center;
  display: flex;
}

.post-title-div {
  text-align: center;
}
.post-title-div>h1 {
  margin: 5px;
}

.post-date-div {
  text-align: left;
  margin-top: 20px;
}
