.pagination-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.pagination-container>div {
  margin-top: 20px;
}

.div-center {
  align-items: center;
  justify-content: center;
  display: flex;
}

.outline-button {
    border: 1px solid #bfbfbf;
    background-color: white;
    color: black;
    padding: 20px 0px;
    font-size: 24px;
    cursor: pointer;

    width: 100%;
    border-radius: 6px;
}

.outline-button:hover {
  background-color: #e6e6e6;
}

@media (max-width: 800px) {
  .outline-button {
    font-size: 16px;
  }
}

@media (max-width: 420px) {
  .outline-button {
    padding: 14px 0px;
    font-size: 16px;
  }
  .pagination-container {
    margin-top: 0px;
  }
}
