<div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <button class="uk-button uk-button-default uk-width-1-1 uk-button-large ">Work</button>
    </div>
    <div class="col-md-4 col-sm-4">
      <button class="uk-button uk-button-default uk-width-1-1 uk-button-large ">Projects</button>
    </div>
    <div class="col-md-4 col-sm-4">
      <button class="uk-button uk-button-default uk-width-1-1 uk-button-large ">Resume</button>
    </div>
  </div>
</div>
