<div class="container pagination-container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 div-center">
      <button class="outline-button" (click)="showContent('home')">Home</button>
    </div>
    <div class="col-xs-12 col-sm-4 div-center">
      <button class="outline-button" (click)="showContent('projects')">Projects</button>
    </div>
    <div class="col-xs-12 col-sm-4 div-center">
      <button class="outline-button" (click)="showContent('resume')">Resume</button>
    </div>
  </div>
</div>
